<table border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="250" valign="top">
                <h1>
                    <strong>Kazuhito Ochiai</strong>
                </h1>
            </td>
            <td width="383" valign="top">
                <p align="right">
                    3445 Lebon Drive #1326 San Diego, CA 92122
                </p>
                <p align="right">
                    (805)280 6754 • kaochiai@ucsd.edu
                </p>
            </td>
            <td width="14" valign="top">
            </td>
        </tr>
    </tbody>
</table>
<div>
    <p>
        <strong>Objective</strong>
    </p>
</div>
<p>
    Seeking a software engineering internship utilizing my skills of creating iOS applications and web applications.
</p>
<div>
    <p>
        <strong>Education</strong>
    </p>
</div>
<p>
    <strong> B.S. Computer Science</strong>
    <strong>University of California, San Diego </strong>
    <em>San Diego, California</em>
</p>
<p>
    Expected Graduation Date: March 2013<strong> </strong>GPA: 3.38
</p>
<p>
    <strong><em>Coursework</em></strong>
    <em>:</em>
    Software Engineering; Data Structures; Algorithms; Computation Theory; Statistics; Operating Systems; Computer Security; Web-applications; Database
</p>
<div>
    <p>
        <strong>Projects</strong>
    </p>
</div>
<p>
    <em><u>Course Projects</u></em>
</p>
<p>
    •<strong>Reduced C Compiler</strong>
</p>
<p>
    •Developed syntax and semantic checker for <em>Reduced C</em>—a subset of C,C++,and Java
</p>
<p>
    •Developed assembly code generator for Reduced C, which translates Reduced C code into SPARC
</p>
<p>
    assembly code, which results in an executable program when it assembled and linked. [Java, Eclipse, Bash]
</p>
<p>
    <em><u></u></em>
</p>
<p>
    •<strong>CrossFitBook: </strong>A web-application that enables its users to log dairy exercises and body conditions, and view the statistics on a line
    graph. [Agile software development, SVN, Eclipse, Java, MySQL]
</p>
<p>
    •Led the team of 8 students, distributed tasks, and advised team members as a project manager
</p>
<p>
    •Utilized agile software development methods such as use case, pair programming and code reviews
</p>
<p>
    •Created server side architecture such as a database and controllers
</p>
<p>
    •Chosen as the most recognized team member by peer review
</p>
<p>
    •CrossFitBook was selected one of the top 3 projects out of 15 projects
</p>
<p>
    •<strong>University Applications Review System: </strong>Web-application for graduate school that allows applicants to submit application, administrators
    to resister reviewers, and reviewers to review, grade and comment applications and accept applicants. [PostgreSQL, Apache Tomcat, JSP, Struts, Java Beans,
    Ajax]
</p>
<p>
    <em><u>Personal Projects</u></em>
</p>
<p>
    •<strong>Locnote (2011)</strong>: An iPhone application that enables its users to create personal maps by adding their favorite locations on the map and
    attach photos and text-based notes for each location. The location data can be searched with Google and Yelp. [Core Data, Server communication]
</p>
<p>
    •<strong>Menu Book (2010)</strong>: An iPhone application that lists restaurant’s menu items, saves favorite dish, shows the restaurant information, and
    receives news from the restaurant using push notification and in-app mail box. [Objective-C, Cocoa Touch, Xcode]
</p>
<div>
    <p>
        <strong>Skills</strong>
    </p>
</div>
<p>
    •<strong>Programming Language</strong>: C, C++, Objective-C, Java, SQL, JavaScript (Ajax), Scala
</p>
<p>
    •<strong>Markup</strong>: HTML, CSS, XML
</p>
<p>
    •<strong>Development Tool</strong>: Xcode 4, Eclipse, Git, Subversion, GNU Debugger
</p>
<p>
    •<strong>Operating Systems</strong>: Mac, Linux
</p>
<p>
    •<strong>Language</strong>: English, Japanese
</p>
<div>
    <p>
        <strong>Award</strong>
    </p>
</div>
<p>
    • Winner of WWDC2010 scholarship from Apple Inc.
</p>



 <script type="text/javascript">
	 	 $("li#tab3").addClass('active'); //activate correct tab in navigation bar
 </script>