<h1>Contact</h1>

<form class="form-horizontal" style="padding-top:20px">
		
		<label for="name">Last</label>
		<input type="text" name="last"/>
		<label for="name">First</label>
		<input type="text" name="first"/>
		<label for="name" >Email</label>
		<input type="text" placeholder="e.g. hello@example.com" name="email" />
		<label for="name" >Message</label>
		<input type="text" size="20"name="message" />

		<br/><br/>
		<input type="submit" value="send"class="btn btn-primary btn-large"/>
		
	
</form>



