<script type="text/javascript">

window.onload = function() {

  var canvas = document.getElementsByTagName('canvas')[0];

  var code = "size(400, 400); noStroke(); fill(255, 0, 0, 255 * 0.5); ellipse(200, 150, 200, 200); fill(0, 255, 0, 255 * 0.5); ellipse(250, 250, 200, 200); fill(0, 0, 155, 255 * 0.5); ellipse(150, 250, 200, 200);";
  
 
  new Processing(canvas, code);
};
</script>
	<head>
		<title><%= title %></title>	
	</head>
	<div>
		 <canvas width="400" height="400"></canvas>
	</div>
 <script type="text/javascript">
	 	 $("li#tab1").addClass('active'); //activate correct tab in navigation bar
 </script>


