
<div id="list">
	<ul class="nav nav-list span2">
	  <li class="nav-header">
	    iOS Projects
	  </li>
		  <li>
		   	 <a href="#">Locnote</a>
		  </li>
		  <li>
		  	 <a href="#">Restaurant Menu</a>
		  </li>
	  <li class="nav-header">
	     Web applications
	  </li>
	  	 <li>
		   	 <a href="#">Twicture</a>
		  </li>
		  <li>
		  	 <a href="#">CrossfitBook</a>
		  </li>
	</ul>
</div>


<ul class="thumbnails">

	<li class="span4">
	<div class="thumbnail">
	 <h3 style='text-align:center'>Locnote (iOS)</h3>
		 <a href="#" class="thumbnail">
	   		 <img src="/assets/locnote.png" alt="">
		 </a>
	   		 <p>Locnote is a location bookmarking app that let users create multiple maps by adding location data to maps.</p>
	   		 <a class="btn btn-primary btn-small" href="">Read More</a>
	  
    </div>
    </li>
    
    
 	<li class="span4">
	<div class="thumbnail" style='test-align:center'>
	 <h3 style='text-align:center' >Restaurant Menu (iOS)</h3>
		 <a href="#" class="thumbnail">
	   		 <img src="/assets/edomasa.png" alt="">
		 </a>
	   		 <p>iOS version of the restaurant menu for Edomasa (Santa Barbara ,CA).
	   		 </p>
	   		 <a class="btn btn-primary btn-small" href="">Read More</a>
    </div>
    </li>
 </ul>
 <script type="text/javascript">
	 	 $("li#tab2").addClass('active'); //activate correct tab in navigation bar
 </script>
